* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

body {
    margin: 0;
    font-family: Arial, sans-serif; 
    line-height: 1.6;
    min-width: 450px;
}

h1 {
    display: flex; 
    align-items: center; 
    background: #396877;
    color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    padding: 15px 20px;
    margin: 25px auto; 
    max-width: 99%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    transition: background 0.3s ease, transform 0.3s ease;
    gap: 15px;
    padding-left: 60px;
    justify-content: space-between;
}

.menu {
    display: flex; 
    align-items: center; 
    gap: 50px; 
    margin-left: auto;
}

.menu div img {
    width: 35px; 
    height: 35px;
    cursor: pointer; 
    transition: transform 0.3s ease;
}

.menu div img:hover {
    transform: scale(1.4); 
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    width: 80px; 
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 15px; 
    position: absolute;
    z-index: 1;
    bottom: -50%;
    left: 50%;
    transform: translateX(-50%); 
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.menu-item.active {
    border-bottom: 3px solid #ffffff; }

.perfil {
    position: relative;
    border-radius: 9px;
    padding-right: 20px;
    display: flex; 
    align-items: center; 
    gap: 10px; 
    margin-left: auto;  
}

.perfil img {
    width: 50px;
    height: auto; 
    transition: transform 0.3s ease;
    border-radius: 50%; /* Torna a imagem redonda */
    cursor: pointer; /* Mostra o cursor de clique */
}


.perfil img:hover {
    transform: scale(1.3); 
}

.n {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    height: 100vh;  
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

@media (min-width: 880px) {
    .mobile-menu {
        display: none; 
    }

    .menu {
        display: flex; 
    }
    
}

@media (max-width: 880px) {
    .mobile-menu {
        display: block;
        position: relative;
        left: -100px;
    }

    h1 {
        margin-bottom: auto;
        display: flex;
        align-items: center;
        justify-content: center; /* Centraliza o conteúdo principal */
        text-align: center; /* Centraliza o texto */
        position: relative; /* Permite posicionar o botão de forma absoluta */
        padding-left: 60px; /* Ajuste para o espaço do botão */
    }

    .menu {
        display: none; 
    }

    .perfil {
        display: none; 
    }

    .hamburger {
        margin-right: auto; /* Empurra o ícone para a esquerda */
        margin-left: 10px;  /* Ajusta a distância da borda */
        font-size: 30px;
        cursor: pointer;
        color: #ffffff;
        padding: 15px 20px;
        background: transparent;
        display: flex;
        align-items: center;
        transition: transform 0.3s ease; /* Adiciona animação ao ícone */
    }

    .hamburger:hover {
        transform: scale(1.2); /* Aumenta o ícone em 20% ao passar o mouse */
    }

    .r1 {
        display: none;
    }
}

.side-menu {
    position: fixed;
    top: 0;
    left: -250px;
    width: 110px;
    height: 100%;
    background: #396877;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 35px;  
    transition: left 0.3s ease;
    box-shadow: 4px 0 6px rgba(0, 0, 0, 0.3);
    z-index: 1000; 
}

.side-menu a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-decoration: none;
    font-size: 18px;
}

.side-menu a img {
    width: 40px; 
    height: 40px;
    transition: transform 0.3s ease;
}

.side-menu a img:hover {
    transform: scale(1.2);  
}

.tooltip .tooltiptext {
    width: 100px;
    background-color: #173256;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    font-size: 12px;  
    position: absolute;
    z-index: 1;
    bottom: -30px; 
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;  
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.side-menu a {
    margin-bottom: 20px;  
}

.side-menu.active {
    left: 0;  
}

.side-menu a.active {
    border-radius: 10px;
    padding: 5px;
    background-color: #2e4e58;
}

.toggle-mode {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #0004ff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.dark-mode{
    background-color: #001834;
    color: #ffffff;}
    

/*-------------------------------------------------------*/
.video-box, .access-btn, .module-btn, .sub-title, .lessons button, .toggle-mode {
    cursor: pointer;
    transition: transform 0.2s;
}
.video-box:hover, .access-btn:hover, .module-btn:hover, .sub-title:hover, .lessons button:hover, .toggle-mode:hover {
    transform: scale(1.05);
    background-color: #153e4b;
}
.level-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4a90e2;
    color: white;
    width: 95%;
    margin: 20px auto;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, );
}
.content {
    display: flex;
    padding: 20px;
}
.video-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    border-radius: 10px;

}
.video-box {
    border-radius: 8px;
    background: black;
    width: 90%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}
.details {
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 39px;
}
.details label {
    font-weight: bold;
    margin-right: 5px;
}
.details .inline {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 9px;
    border-bottom: 1px solid #000;
    padding-bottom: 5px;
}
.details input {
    flex-grow: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
}
.access-btn {
    background-color: #2f5d66;
    color: white;
    border: none;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}


.modules {
    width: 50%;
    padding: 15px;
    border-radius: 10px;

}
.module-title {
    background-color: #4a90e2;
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    height: 70px;
}
.module-btn, .sub-title, .lessons button {
    background: #2f5d66;
    color: white;
    border: none;
    width: 100%;
    padding: 10px;
    text-align: left;
    margin-top: 12px;
    height: 70px;
    border-radius: 5px;
}
.lessons {
    display: none;
    padding-left: 20px;
    
}

.lessons {
    display: none;
    padding-left: 20px;
    margin-top: 10px;
}

.lessons button {
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
    background-color: #1995b1;
    color: white;
    text-align: left;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.lessons button:hover {
    background-color: #396877;
    transform: translateX(10px);
}

.lessons button:active {
    background-color: #1e3a40;
    transform: translateX(0);
}

.sub-title {
    text-align: left;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.sub-title .arrow-icon {
    font-size: 18px;
    transition: transform 0.3s ease;
}

.sub-title.open .arrow-icon {
    transform: rotate(180deg);
}



@media (max-width: 880px) {
    h1 {
        font-size: 15px; /* Reduz o tamanho da fonte do título */
    }

    .content {
        flex-direction: column; /* Empilha os elementos verticalmente */
        padding: 10px; /* Reduz o padding */
    }

    .video-container, .modules {
        width: 100%; /* Ocupa toda a largura da tela */
        padding: 10px; /* Reduz o padding */
    }

    .video-box {
        height: 290px; /* Reduz a altura do vídeo */
        font-size: 20px; /* Reduz o tamanho da fonte do ícone de vídeo */
    }

    .details {
        font-size: 16px; /* Reduz o tamanho da fonte dos detalhes */
    }

    .details .inline {
        margin-bottom: 5px; /* Reduz o espaçamento entre os inputs */
    }

    .details input {
        font-size: 14px; /* Reduz o tamanho da fonte dos inputs */
    }

    .access-btn {
        margin-top:10px;
        font-size: 14px; /* Reduz o tamanho da fonte do botão */

    }

    /* Ajustes para os módulos e aulas */
    .module-title, .sub-title, .lessons button {
        height: 50px;
        font-size: 14px; /
    }

    .lessons button {
        padding: 8px 12px; 
        font-size: 12px; 
    }



    .toggle-mode {
        font-size: 14px;
        padding: 8px 16px; 
    }
}